/* navbar style  */
.nav-section {
    width: 1920px;
    height: 130px;
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 140px;
}

.nav-img {
    width: 86px;
    height: 40px;
    padding-right: 20px;

}

.nav-title {
    text-align: center;
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
    padding-right: 682px;
}

.g {
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



.nav-anc {
    color: #3C354F;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    align-items: center;
    gap: 20px;
}

.follow-us {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    width: 262px;
    height: 56px;
    display: flex;
    align-items: center;
    gap: 20px;
    
}
.youtube{
    height: 30px;
    width: 30px;
}
.tiktok{
    height: 30px;
    width: 30px;
}

/* main section stlye  */
.banner-section {
    width: 1920px;
    height: 792px;
    background: #FFF;
    padding-top: 19px;
    display: flex;


}

.main-banner {
    padding-left: 240px;
    padding-right: 374px;
    padding-top: 39px;
    background-image: url('../images/Group 14.png');
}

.banner-head {
    color: #0B0223;
    text-align: left;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    padding-top: 187px;
   
}

.goat {
    text-align: left;
    font-family: Work Sans;
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

ul li {
    padding-top: 17px;
}

.primary-btn {
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    gap: 10px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    padding-right: 24px;
}

.secendary-btn {
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.online-game-section {
    margin-bottom: 180px;
}

.online-game {
    text-align: center;
}



.online-game-header {
    color: #0B0223;

    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.funny-videos {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.online-games-text {
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;

}

.rectangle-img {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.rectangle {
    width: 342px;
    height: 400px;
    flex-shrink: 0;
    border-radius: 16px;
    background: lightgray 50% / cover no-repeat;
}
.rectangle:hover{
    opacity: 50%;
    background-image: url('../images/play button.png');
}
.rectangle-para {
    width: 342px;
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

.play {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 1400px;
}

.play-description {
    margin-left: 180px;
   
}

.play-instantly {

    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


}

.no-download {
    color: #0B0223;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 10px;
}
.no-install{
    color: #0B0223;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 10px;
    text-align: right;
}

.play-para {
    width: 353px;
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.play-img {
    position: relative;
    
    margin-left:-200px ;
}

.play-img-main {
    width: 634px;
    height: 650px;
    flex-shrink: 0;
    border-radius: 8px;
    background: lightgray no-repeat;
}

.play-img-top {
    width: 300px;
    height: 320px;
    position: absolute;
    bottom: -60px;
    left: -60px;
}

.games-menus {
    margin-top: 150px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    padding-top: 50px;
    padding-bottom: 50px;


}

.menu-item {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;



}

.games-1 {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-right: 12px;
    background-color: white;
    border-radius: 50px;



}

.games-1:hover {
    border: 1px solid red;
    border-radius: 50px;
    color: red;
}

.footer {
    background: #0B0223;
    margin-top: 20px;
}

.fotter-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.amer {
    color: #FFF;
}

.info {
    display: flex;
    gap: 20px;
    justify-content: center;
    color: #FFF;
}

.social-button {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 30px;
}

.social-media {
    height: 50px;
    width: 50px;
}

.conditions {
    display: flex;
    justify-content: center;
    margin-top: 45px;
    color: #FFF;
}

.copy-right {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
}